@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #34495e;
}

.wrapper {
    width: 100%;
    max-width: 25rem;
    margin: 5rem auto;
}

.label {
    font-size: .625rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: +1.3px;
    margin-bottom: 1rem;
}

.searchBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -30px;
}

#searchQueryInput {
    width: 100%;
    height: 2.8rem;
    background: #f5f5f5;
    outline: none;
    border: none;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;
}

#searchQuerySubmit {
    width: 3.5rem;
    height: 2.8rem;
    margin-left: -3.5rem;
    background: none;
    border: none;
    outline: none;
}

#searchQuerySubmit:hover {
    cursor: pointer;
}

.head {
    font-family: 'Comfortaa', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    color: white;
    font-size: large;
    font-family: 'Poiret One', cursive;
}

.head img {
    margin: 1rem;
}

.data-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    margin-top: -2rem;
    font-family: 'Comfortaa', sans-serif;

}

.data-items {
    margin: 10px;
    font-size: 1.2rem;
    white-space: pre;
    font-weight: lighter;
    text-transform: capitalize;
}

.city,
.country {
    font-size: 2rem;
    font-weight: 500;
}

.temp-value,
.humidity-value {
    font-weight: 700;
    font-size: 1.5rem;
}

.date {
    font-size: 0.9rem;
}

.loader {
    margin-top: 100px;
}

.dots-1 {
    width: 4px;
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: 19px 0 0 7px, 38px 0 0 3px, 57px 0 0 0;
    transform: translateX(-38px);
    animation: d1 1s infinite alternate linear;
}

@keyframes d1 {
    50% {
        box-shadow: 19px 0 0 3px, 38px 0 0 7px, 57px 0 0 3px
    }

    100% {
        box-shadow: 19px 0 0 0, 38px 0 0 3px, 57px 0 0 7px
    }
}